// Dropdown.module.scss
$animation-duration: 500ms;

@keyframes rotateDown {
from {
    transform: rotate(0deg);
}
to {
    transform: rotate(180deg);
}
}

@keyframes rotateUp {
from {
    transform: rotate(180deg);
}
to {
    transform: rotate(360deg);
}
}

@keyframes slideDown {
from {
    transform: translateY(-100%);
    opacity: 0;
}
to {
    transform: translateY(0);
    opacity: 1;
}
}

@keyframes slideUp {
from {
    transform: translateY(0);
    opacity: 1;
}
to {
    transform: translateY(-100%);
    opacity: 0;
}
}

.dropdown__container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;

    background-color: #F0F0F0;
    border-radius: 10px;

    height: fit-content;

    cursor: pointer;

    

    .dropdown__container--orange{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        z-index: 10;

        height: 52px;
        border-radius: 10px;

        background-color: #FF6060;

        padding: 0px 20px;

        @media (max-width: 768px) {
            height: 40px;
        }

        & > h2{
            color: white;
            font-size: 18px;
            font-weight: 500;

            @media (max-width: 768px) {
                font-size: 13px;
            }
          
        }

        & > img{
            height: 32px;
            width: 32px;
            transition: transform $animation-duration;
        }
    }
}

.dropdown__textContainer { // Pourquoi quand je l'encapsule au dessus, rien ne prend
    overflow: hidden;
    max-height: 0;
    transition: max-height $animation-duration ease, opacity $animation-duration ease;
    opacity: 0;

    & > ul{
        list-style: none;
        padding: none;
        margin: none;

        color: #FF6060;
    }
}

// Modifier les classes basées sur l'état isOpen
.dropdown__openArrow {
    animation: rotateDown $animation-duration forwards;
}

.dropdown__closeArrow {
    animation: rotateUp $animation-duration forwards;
}

.dropdown__openTextContainer {
    animation: slideDown $animation-duration forwards;
    max-height: 200px; // Ajustez en fonction de la hauteur de votre contenu
    opacity: 1;
}

.dropdown__closeTextContainer {
    animation: slideUp $animation-duration forwards;
    max-height: 0;
    opacity: 0;
}


