.rating{
    display: flex;
    flex-direction: row;
    align-items: center;

    width: auto;

    column-gap: 10px;
}

.rating__img{
    @media (max-width: 768px) { 
        height: 24px;
        width: 24px;
    }

}