.apropos{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    padding: 0px 100px;

    row-gap: 10px;

    @media (max-width: 768px) {
        padding: 0px 0px;
    }


}