footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #181818;

    padding: 40px 80px;

    row-gap: 20px;
}

.footer__legal {
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;

    font-size: 18px;
    font-weight: 500;

    @media (max-width: 768px) {
        font-size: 12px;
        max-width: 100px;
    }
} 